<%= form_for @event, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :category, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :entry_fee, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :entry_fee, :class => 'text-field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :rules, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :rules, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :instructions, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :instructions, :class => 'text-field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :prize, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :prize, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deadline, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_field :deadline, :class => 'text-field form-control', value: 7.days.from_now.to_date %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :private?, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :privy %>
    </div>
  </div>

  <div class="form-group hidden" id="bet_holder">
    <%= f.label :bet, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :bet, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn btn-default' %>
    </div>
  </div>


    <%= f.fields_for :invitations, @a do |i| %>
      <%= i.check_box :user_id, {checked: false}, i.object.user.id, nil %><%= i.label :user_id, "#{i.object.user.first_name}" %><br />
    <% end %>
<% end %>

<script>

$('#event_privy').click(function(){
  if($('#event_privy').is(':checked')){
    $('#bet_holder').removeClass('hidden');
  }else{
    $('#bet_holder').addClass('hidden');
  }
});
// $('#event_privy').toggle("slow", function(){
//  alert('yolo');
// });
// if($('#event_privy').is(':checked')){
//  $('#bet_holder').show();
// }

</script>
