<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => Event %></h1>
</div>

<%= link_to "Create New Event", new_event_path, :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Deadline</th>
      <th>Prize</th>
      <th>Competition Info</th>
      <th>Enter?</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.name %></td>
        <td><%= event.category %></td>
        <td><%= event.deadline %></td>
        <td><%= event.prize %></td>
        <td><%= link_to "View", event_path(event), :class => 'btn btn-primary' %></td>
        <td><%= link_to "Enter", new_event_entry_path(event), :class => 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>